*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(#222,#345);   
    border: none;
}
.intro{
    display: flex;
    justify-content: space-between;
    color: aquamarine;
}
h1{
    font-size: 6vmin;
    margin: 0vmin;
}
#win{
    margin: 1.5vmin;
    font-size: 4vmin;
    color:aqua;
}

main{
    height: 95vh;
    width: 100%;
    border: none;
    text-align: center;
     display: flex;
    justify-content: center;
    align-items: center; 
    gap:10rem; 
    background: linear-gradient(#222,#345);
}
.border{
    border: 1px solid lightseagreen;
    box-shadow: 3px 2px 50px#6ef;
}
/* tic tack tock game */
  .outer{
         height:auto;
         width: 90vmin;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         gap:0.8rem;
         margin: 0;
      }
  .inner{
    height:25vmin;
    width: 25vmin;
    background: transparent;
    border: 3px solid lightseagreen;
    box-shadow: 1px 1px 10px#6ef;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: red;
    cursor: pointer;
    user-select: none;
  }
  @media(max-width:800px){
        main{
            height: 95vmin;
            flex-direction: column;
            gap:0.5rem;
        }
        .outer{
            height:auto;
            width:90vmin;
        }
  }
  .inner:hover{
    background-color:rgba(110, 255, 255, 0.1) ;
  }
.reset{
    height: 5vmin;
    width: 15vmin;
    background-color: #779;
    color: white;
    font-size: large;
    border: none;
    border-radius: 1rem;
}
#new{
    height: 5vmin;
    width: 15vmin;
    background-color: #779;
    color: white;
    font-size: large;
    border: none;
    border-radius: 1rem;
    margin: 1.5vmin;
    font-size:2vmin; 
    box-shadow: 2px 1px 20px rgba(34,233,21);
}
#player_O{
    font-size: 4rem;
    color:#6ef;
    /* margin-left:10rem;
    margin-top: 12rem; */
    font-size: 5rem;
}
#player_x{
    font-size: 4rem;
    color:red;
    /* margin-left:10rem;
    margin-top: 12rem; */
    font-size: 5rem;
}

 

